



<div class="container-float" style="text-align:center;height:100%;padding-top:10vh;">
	<h1 style="color:white;font-family: 'Archivo Black';font-size:350%;">Welcome to the future of ducks.</h1>
	<div style="padding-top:10vh;">
	

	<img style="width:10vh;opacity:0.7;margin-right:30px;" src="images/duck.png" /> 
	<img style="width:7vh;opacity:0.7;" src="images/placeholder.png" /> 
	
	
	</div>
	
	
	<div style="padding-top:20vh;">
	

	<a href="#!/submitdate" class="btn btn-primary btn-lg" style="background-color:green;opacity:0.8;border-radius:70px;min-width:10vw;margin:30px;"role="button">New duck!</a>
    <a href="#!/sightings/dateNew" class="btn btn-primary btn-lg" style="background-color:green;opacity:0.8;border-radius:70px;min-width:10vw;margin:30px;" role="button">Sightings so far</a> 
	
	
	</div>
	
	
</div>



	