  <div style= "text-align:center;">
   <div class="dropdown">
  <input type="image" class="dropdown-toggle" src="images/sort.png" data-toggle="dropdown" value="image" style="position:absolute;left:0;"/>
  
  <ul class="dropdown-menu" style="font-size:20px;">
	<li class="dropdown-header">Sort list by</li>
	<li class="divider"></li>
    <li><a href="#!/sightings/dateNew">Newest</a></li>
    <li><a href="#!/sightings/dateOld">Oldest</a></li>
    <li><a href="#!/sightings/number">Most</a></li>
	<li><a href="#!/sightings/species">Species</a></li>
  </ul>
</div>
<h2>Recent Sightings</h2>

  <table class="table">
	
 
  
	<tr  class="item col-md-4" ng-repeat="app in apps" fadeout>
      <td style="border:none;padding:50px;">
	  <a href="#!/sighting/{{app.id}}"> 
          <img id="fade-scroll-bottom" ng-src='images/{{app.species}}.png' class="img-circle" alt='{{ app.species}}' style="width:300px;height:220px;">
	  </a>
      <p style="font-family: 'Lucida Console', Monaco, monospace;color:cyan;">{{ app.dateTime | date:'medium' }}</p>
       </td> 
	</tr>
	
	
	
	
  </table>
 
</div>
    <!--
  

	
	KENWGK

  
 

<h2>Recent Sightings</h2>
    <div class="row">
      <div class="item col-md-4" ng-repeat="app in apps">
        <a href="#!/sightings/{{$index}}"> 
          
          <p class="author">{{ app.dateTime | date:'medium' }}</p>
        </a>
		
		
      </div>
    </div>

  </div>
  
  
  
 
  <div class="table-responsive" style= "text-align:center;">
   
<h2>Recent Sightings</h2>
  <table class="table" >
	<tr>
	<div id="fade-scroll-bottom" class="item col-md-4 fade-scroll-bottom" ng-repeat="app in apps">
      <a href="#!/sightings/{{$index}}"> 
          <img ng-src='images/{{app.species}}.png' class="img-circle" alt='{{ app.species}}' style="width:100%;height:100%;">
	  </a>
      <p style="font-family: 'Lucida Console', Monaco, monospace; padding:10px;color:cyan;">{{ app.dateTime | date:'medium' }}<p>
        
	</div>
	</tr>
	
  </table>
</div>


<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" style="position:absolute;left:0;">

  -->
  
