<div class="container-float" style="text-align:center;height:100%;padding-top:100px;">
	<h1 style="color:white;font-family: 'Archivo Black';font-size:350%;">Welcome to the future of ducks</h1>
	<div style="padding:50px;"><a href="#!/submitdate" class="btn btn-primary btn-lg" style="background-color:green;opacity:0.9;"role="button">I just saw a duck!</a></div>
	<a href="#!/sightings/dateNew" class="btn btn-primary btn-lg" style="background-color:green;opacity:0.8;" role="button">Wait.. Which ducks have I seen?</a>
</div>