
  
  
<div id="sightingsMainContainer" >
	
	<div id="currentSightingContainer" >
			<current-selection></current-selection>
			<img id="img1" ng-hide="noneLeft()" src="images/down-arrow.png" onclick="scrollFunction()" />
			<a id="getStarted" href="#!/submitdate" ng-show="noneLeft()">Get started</a>
	</div>
  
	<div id="list" ng-hide="noneLeft()">
		<h1>My sightings</h1>
		<div id="dropdownlist" class="dropdown text-center" >
			<div id="dropdownButtons" class="dropdown btn-group">
				<input id="input1" type="image" class="dropdown-toggle" src="images/sort.png" data-toggle="dropdown" value="image" />
  
				<ul id="dropdownMenu" class="dropdown-menu" >
					<li id="dropdownHeader" class="dropdown-header" >Sort by</li>
					<li class="divider"></li>
					<li><a href="#!/sightings/dateNew">Newest</a></li>
					<li><a href="#!/sightings/dateOld">Oldest</a></li>
					<li><a href="#!/sightings/number">Most</a></li>
					<li><a href="#!/sightings/species">Species</a></li>
				</ul>

			</div>
		</div>


		<table id="sightingsTable" class="table"  >
			<tr align="center" class="item col-md-4"  ng-repeat="app in apps" fadeout>
				<td id="tableData" >
					<sighting-piece info="app" ng-click="updateSelection(app)"></sighting-piece>
				</td>
			</tr>
		</table>
	</div>
</div>
	


  
