<div id="descriptionContainer">
	<div id="sliderOut">
		<div class="inputContainer" >
			<div id="formGroup" class="form-group">
				<p>Add anything else:</p>
				<textarea id="descriptionpicker" maxlength="600" class="form-control"  rows="6"></textarea>
				<input class="done2" type="image" src="images/continue.png" ng-click="readDescription()" value="OK">
			</div>
		</div>
	</div>


	<div id="sliderIn" >
		
		<img src="images/success.png"></img>
		<p id="successText" >You just added a duck!</p>
		<input class="done2" type="image" src="images/continue.png" ng-click="imReady()" value="Continue">
	</div>

</div>

