
<div id="inputContainer" class="inputContainer">

<p>When did you see the duck?</p>

<input  id = "datepicker"  type="image" src="images/calendar.png"  submitdate />


</div>
<!-- 


<div class="submit">
	<div class="container">
		<h1>Enter yo duck</h1>
    
		date <input type="DATE" id="date1" size="40"><br>
		time <input type="TIME" id="time1" size="40"><br>
		species <input type="TEXT" id="species1" size="40"><br>
		description <input type="TEXT" id="description1" size="40"><br>	
		amount <input type="NUMBER" id="count1" size="40" min="1" ><br>
    
		<input type="button" ng-click = "addADuck()" id="submit" value="Submit">
	</div>
</div>

 -->