
html {


}
body {
    /*background-color: #81BEF7;*/
	/*height: 100vh;*/
    margin: 0;
	
    
	  background: linear-gradient( #81BEF7, white);
	padding-top:35px;
	background-repeat: no-repeat;
}

#navigation {

	background-color:black;

}

